/* Add your CSS to this file */

* {
    box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 18px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
	margin: 0 auto;
	max-width: 960px;
	width: 100%;
}

img{
    width: 10em;
}

header {
	background-color: white;
}

header .container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

header h1 {
	font-size: 18px;
}

header a {
	color: #6b7280;
	font-size: 18px;
}

header a:hover {
	color: #5a67d8;
}

header nav {
	width: 20em;
}

header ul {
	list-style-type: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 0;
	justify-content: space-between;
}

header ul a {
	text-decoration: none;
}

.overview-hero {
    background-color: #e2e8f0;
    height: 18em;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 18em;
}

.overview-hero-image{
    margin-right: 5em;
}

.learn-about .container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 'learn-about-title learn-about-title learn-about-title'
    'cards cards cards';
}

.learn-about .cards{
    grid-area: cards;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    'card1 card2 card3';
}

.learn-about h2 {
	font-size: 24px;
    color: #48bb78;
    grid-area: learn-about-title;
}

.learn-about .card {
	border-color: #e2e8f0;
	border-radius: 5px;
    box-shadow: lightgrey 1px 4px 5px;
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-bottom: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    padding: 1em;
}

.learn-about .card h3 {
	color: #48bb78;
	font-size: 21px;
}

.learn-about .card:nth-child(1){
    grid-area: card1;
}

.learn-about .card:nth-child(2){
    grid-area: card2;
}

.learn-about .card:nth-child(3){
    grid-area: card3;
}

.learn-about .card img{
    height: 10em;
}

.testing {
	background-color: #4a5568;
    color: white;
    height: 16em;
}

.testing .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 16em;
}

.testing .btn {
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 8%;
    display: block;
    text-align: center;
    width: 10em;
	background-color: #48bb78;

}

.stories{
    margin: 5em 0em;
}

.stories h2,
a {
	color: #5a67d8;
}

.stories img {
    border-radius: 50%;
    width: 10em;
    height: 10em;
    object-fit: cover;
    object-position: top;
    margin-right: 2em;
}

.stories article{
    display: flex;
    flex-direction: row;
}
.stories .container article:nth-child(2){
    margin-bottom: 3em;
}

.newsletter {
    height: 20em;
	background-color: #48bb78;
    color: white;
}

.newsletter button {
	background-color: #5a67d8;
}

.newsletter .container{
    display: flex;
    flex-direction: column;
    height: 20em;
    justify-content: center;
    align-items: center;
    max-width: 30em;
}

.newsletter form {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.newsletter .form-group,input{
    width:98%;
    height: 4em;
    border: none;
    border-radius: 8px;
    outline: none;
}

.newsletter .btn{
    width: 15em;
    height: 4em;
    border: none;
    border-radius: 8px;
    outline: none;
    cursor: pointer;
}

footer {
	background-color: #4a5568;
    color: white;
    height: 2em;
}

footer .container{
    height: 2em;
    padding: 0.5em;
}

footer p{
    margin: 0;
}